<app-card titulo="Primeiro Component" cor="#223654">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>

<app-card titulo="Aprofundando o conhecimento em templates" cor="blue">
    <app-segundo-component></app-segundo-component>
</app-card>

<app-card titulo="Pipes" cor="gray">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>

<app-card titulo="Two way date binding" cor="yellow">
    <app-to-way-date-binding></app-to-way-date-binding>
</app-card>

<app-card titulo="Renderizando listas" cor="pink">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-card titulo="Componente Personalizado" cor="green">
    <app-componente-personalizado nome="João" sobrenome="Silva"></app-componente-personalizado>
</app-card>

<app-card titulo="Componente pai" cor="brown">
    <app-componente-pai></app-componente-pai>
</app-card>

<app-card titulo="Exemplo serviços" cor="black">
    <app-exemplo-servicos></app-exemplo-servicos>
</app-card>

<app-card titulo="Exemplo serviços 2" cor="purple">
    <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>

<app-card titulo="Ciclo de vida" cor="orange">
    <app-ciclo-de-vida></app-ciclo-de-vida>
</app-card>

<app-card titulo="Ciclo de vida 2" cor="red">
    <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>